.dynamic-text {
  position: relative;
  display: flex;

  #text-target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 20s alternate infinite;

    transform: translateX(26px);
  }

  .word {
    position: absolute;
  }

  @keyframes color {
    0% {
      color: $color-2;
    }

    50% {
      color: rgb(158, 241, 158);
    }

    100% {
      color: $color-2;
    }
  }

  /*  .letter {
    transform: translateZ(200px);
  } */

  @keyframes anim {
    0% {
      transform: translateZ(200px);
    }

    25% {
      transform: translateZ(0px);
      opacity: 1;
    }

    50% {
      transform: translateZ(0px);
      opacity: 1;
    }

    65% {
      opacity: 0;
    }

    100% {

      transform: translateZ(-200px) translateX(200px);
    }
  }
}